& when (@media-common = true) {
    .address-search {
        max-width: @layout__max-width;
        padding: 0 @layout-indent__width;
        &__controls {
            &_modal {
                display: none;
            }
        }
    }
}
